<nav class="site-toc" aria-label="Site navigation">
  <input class="site-toc-checkbox" type="checkbox" id="site-toc-toggle">
  <label class="site-toc-toggle" for="site-toc-toggle">
    <span>Index</span>
    <span class="site-toc-arrow" aria-hidden="true">↓</span>
  </label>
  <div class="site-toc-panel">
    <section>
      <p class="subhead">The Guide</p>
      <ul>
        <li><a href="/entries/">Index of entries</a></li>
        <li><a href="/taxonomy/">Genera</a></li>
        <li><a href="/status/">Statuses</a></li>
      </ul>
    </section>
    <section>
      <p class="subhead">Arguments</p>
      <ul>
        <li><a href="/marginalia/">Marginalia</a></li>
        <li><a href="/sightings/">Disputed sightings</a></li>
      </ul>
    </section>
    <section>
      <p class="subhead">The Survey</p>
      <ul>
        <li><a href="/about/">Charter &amp; field laws</a></li>
      </ul>
    </section>
    <section>
      <p class="subhead">Editions</p>
      <ul>
        <li><a href="/editions/">Current edition</a></li>
      </ul>
    </section>
  </div>
</nav>
